{% extends 'base.html' %}
{% load static %}
{% block title %}FAQ{% endblock title %}

{% block content %}

   <!-- start breadcrumb -->
   <section class="breadcrumb_main_area">
      <!-- <div class="container-fluid"> -->
      <div class="row">
            <div class="breadcrumb_main nice_title content-center">
               <h3>Faq</h3>
               <img src="{% static 'web/images/breadcrumb-nice-title-one.png' %}" alt="">
            </div>
            <div class="breadcrumb_bg margin-top-70">
               <div class="container">
                  <div class="col-md-6 padding-left-0 col-sm-6">
               <h6>Frequently Asked Questions</h6>
                  </div>
                  <div class="col-md-6 padding-right-0 col-sm-6">
                     <ol class="breadcrumb floatright">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Faq - Accordion</a></li>
                     </ol>
                  </div>
               </div>
            </div>
      </div>
      <!-- </div>  -->
   </section>
   <!-- end breadcrunb -->

<!-- Starting Query Accordion Area -->
<section class="query_accordion_area">
   <div class="container">
      <div class="row section-padding">
         <div class="col-md-9">
            <div class="all_query_accordion_posts">
               <div class="section_title nice_title left">
                  <h4>Response for Frequent Queries</h4>
                  <p>
                     Completely synergize resource sucking relationships via premier niche markets
                  </p>
               </div>
               <div class="frequent_accordion_queries">
                  <div class="all_frequent_accordion_queries">
                     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingOne">
                           <h4 class="panel-title">
                              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                 Why choose our trucking service?
                                 <span></span>
                              </a>
                           </h4>
                           </div>
                           <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                           <div class="panel-body">
                              <p>
                              Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer 
                           </p>
                           <p>
                              Directed convergence without revolutionary ROI.Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
                           </p>
                           </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingTwo">
                           <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 Any facilities available on warehousing and storage service?
                                 <span></span>
                              </a>
                           </h4>
                           </div>
                           <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                           <div class="panel-body">
                              <p>
                              Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas dynamically innovate resource
                           </p>
                           <p>
                              Leveling customer service for state of the art customer service.Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis 
                           </p>
                           </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingThree">
                           <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                 Is it possible to Logistic service providers to understand our business?
                                 <span></span>
                              </a>
                           </h4>
                           </div>
                           <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                           <div class="panel-body">
                              <p>
                              Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.
                           </p>
                           <p>
                              Holistically pontificate installed base portals after maintainable products.Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer 
                           </p>
                           </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingFour">
                           <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                 Any speciality in of advanced green carriers?
                                 <span></span>
                              </a>
                           </h4>
                           </div>
                           <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                           <div class="panel-body">
                              <p>
                              Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth
                           </p>
                           <p>
                              Strategies and interoperable internal or "organic" sources.Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas
                           </p>
                           </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingFive">
                           <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                 How about domestic and international deliveries of collective and partial shipments?
                                 <span></span>
                              </a>
                           </h4>
                           </div>
                           <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                           <div class="panel-body">
                              <p>
                              Interactively procrastinate high-payoff content without backward-compatible data. Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic theme
                           </p>
                           <p>
                              Areas via accurate e-markets. Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior deliverables whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change before vertical architectures.
                           </p>
                           </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingSix">
                           <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                 Having problems with your Truck, Van or any kind of transportation vehicles?
                                 <span></span>
                              </a>
                           </h4>
                           </div>
                           <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                           <div class="panel-body">
                              <p>
                              Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital holistically foster
                           </p>
                           <p>
                              superior methodologies without market-driven best practices.Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks 
                           </p>
                           </div>
                           </div>
                        </div>
                        <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingSeven">
                           <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                 How to get Informations about our branches around the world?
                                 <span></span>
                              </a>
                           </h4>
                           </div>
                           <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                           <div class="panel-body">
                              <p>
                              I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                           </p>
                           <p>
                              No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that.
                           </p>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-12">
            <div class="row">
               <aside class="right_sidebar">
                  <!-- Single Widget Start -->
                  <div class="col-md-12 col-sm-6 hidden-sm">
                              <div class="single_widget">
                                 <div class="search_wid">
                                    <form action="#">
                                          <input type="text" placeholder="SEARCH">
                                          <a href="#"><img src="{% static 'web/images/widget-search-bg.png' %}" alt=""></a>
                                    </form>
                                 </div>
                              </div>
                  </div>
                        <!-- Single Widget End -->
               
               </aside>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Query Accordion Area -->
{% endblock content %}