{% extends 'base.html' %}

{% block title %}Map{% endblock title %}

{% block content %}


   <!-- start breadcrumb -->
   <section class="breadcrumb_main_area">
      <!-- <div class="container-fluid"> -->
      <div class="row">
            <div class="breadcrumb_main nice_title content-center">
               <h3>Map</h3>
               <img src="{% static 'web/images/breadcrumb-nice-title-one.png' %}" alt="">
            </div>
            <div class="breadcrumb_bg margin-top-70">
               <div class="container">
                  <div class="col-md-6 padding-left-0 col-sm-6">
               <h6>Frequently Asked Questions</h6>
                  </div>
                  <div class="col-md-6 padding-right-0 col-sm-6">
                     <ol class="breadcrumb floatright">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Faq - Accordion</a></li>
                     </ol>
                  </div>
               </div>
            </div>
      </div>
      <!-- </div>  -->
   </section>
   <!-- end breadcrunb -->

<!-- Starting Query Accordion Area -->
<section class="query_accordion_area">
   
</section>
<!-- End Query Accordion Area -->

{% endblock content %}