{% extends 'base.html' %}
{% load static %}

{% block title %}Map{% endblock title %}

{% block link %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        width: 100%;
        height: 100vh;
    }
</style>
{% endblock link %}


{% block content %}

   <!-- start breadcrumb -->
   <section class="breadcrumb_main_area">
      <!-- <div class="container-fluid"> -->
      <div class="row">
            <div class="breadcrumb_main nice_title content-center">
               <h3>Suivre mes propres déplacements</h3>
               <img src="{% static 'web/images/breadcrumb-nice-title-one.png' %}" alt="">
            </div>
            <div class="breadcrumb_bg margin-top-70">
               <div class="container">
                  <div class="col-md-6 padding-right-0 col-sm-6">
                     <ol class="breadcrumb floatright">
                        <li><a href="{% url 'map_suivi_users' %}">Suivre un chauffeur, un livreur ou un client</a></li>
                     </ol>
                  </div>
               </div>
            </div>
      </div>
      <!-- </div>  -->
   </section>
   <!-- end breadcrunb -->

<!-- Starting Query Accordion Area -->
<section class="query_accordion_area" id="formulaire">
   <form action="{% url 'map' %}">
      {% csrf_token %}
      <input type="text" name="latitude" id="latitude"><br>
      <input type="text" name="longitude" id="longitude">
   </form>
   <div id="map"></div>
</section>
<!-- End Query Accordion Area -->
{% endblock content %}


{% block script %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script>
   $(document).ready(function(){
      $("form").hide()
    // Map initialization 
    let map = L.map('map').setView([14.0860746, 100.608406], 13);

    let reponse = confirm("Voulez que d'autres personnes vous voient ? Ok pour oui // Annuler pour non ")

    //osm layer
    let osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        //attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);

    if(!navigator.geolocation) {
        console.log("Your browser doesn't support geolocation feature!")
    } else {
         let marker, circle, marker2;
        setInterval(() => {
            navigator.geolocation.getCurrentPosition(position => {
               let {latitude, longitude, accuracy} = position.coords

               if(reponse){
                  document.getElementById('latitude').value = latitude
                  document.getElementById('longitude').value = longitude
               }else{
                  document.getElementById('latitude').value = 0.0
                  document.getElementById('longitude').value = 0.0
               }

               if(latitude !== '' && longitude !== '')
               {
                  $.ajax({
                     type: 'POST',
                     url: "{% url 'map' %}",
                     data: {
                        latitude: $("#latitude").val(),
                        longitude: $("#longitude").val(),
                        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                     },
                     success: function(response){
                        console.log("Success")
                     },
                     error: function(err){
                        console.log("Erreur", err)
                     }
                  })
               }
               

               if(marker) {
                   map.removeLayer(marker)
               }
               
       
               if(circle) {
                   map.removeLayer(circle)
               }
               
               marker = L.marker([latitude, longitude])

               circle = L.circle([latitude, longitude], {radius: accuracy})

               
               let featureGroup = L.featureGroup([marker, marker2]).addTo(map)
               
               
               map.fitBounds(featureGroup.getBounds())
               
            })
        }, 500);
    }

   })
</script>
{% endblock script %}