{% extends 'base.html' %}
{% load static %}

{% block title %}Map - livreur{% endblock title %}

{% block link %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        width: 100%;
        height: 100vh;
    }
</style>
{% endblock link %}


{% block content %}

   <!-- start breadcrumb -->
   <section class="breadcrumb_main_area">
      <!-- <div class="container-fluid"> -->
      <div class="row">
            <div class="breadcrumb_main nice_title content-center">
               <h3>Suivi d'un livreur</h3>
               <img src="{% static 'web/images/breadcrumb-nice-title-one.png' %}" alt="">
            </div>
            <div class="breadcrumb_bg margin-top-70">
               <div class="container">
                  <div class="col-md-6 padding-right-0 col-sm-6">
                     <ol class="breadcrumb floatright">
                        <li><a href="{% url 'map' %}">Suivre mes propes déplacements</a></li>
                        <li><a href="#">Calculer le trajet</a></li>
                     </ol>
                  </div>
               </div>
            </div>
      </div>
      <!-- </div>  -->
   </section>
   <!-- end breadcrunb -->

<!-- Starting Query Accordion Area -->
<section class="query_accordion_area" id="formulaire">

   <div id="map"></div>
   
</section>
<!-- End Query Accordion Area -->
{% endblock content %}


{% block script %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script>
   $(document).ready(function(){
      $("form").hide()
    // Map initialization 
    let map = L.map('map').setView([14.0860746, 100.608406], 1);

    //let reponse = confirm("Voulez que d'autres personnes vous voient ? ")

    //osm layer
    let osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        //attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);
      let marker;
      setInterval(() => {
         $.ajax({
            type: 'GET',
            url: "{% url 'getDataLivreur' livreur.pk %}",
            success: function(response){
               let latitude = response.livreur[0].latitude
               let longitude = response.livreur[0].longitude   
               
               if(marker) {
                  map.removeLayer(marker)
               }

               marker = L.marker([latitude, longitude])
         
               let featureGroup = L.featureGroup([marker]).addTo(map)
         
               map.fitBounds(featureGroup.getBounds())
   
            },
            error: function(response){
               console.log('Erreur ' , response)
            }
         })
      }, 500);
   })
</script>
{% endblock script %}